body {
    background: rgb(255, 255, 255);
    margin: 0;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100px;
    z-index: 100;

    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    background: linear-gradient(90deg, rgb(0, 51, 101), rgb(0, 51, 101), rgb(0, 42, 85));
}

.header-left {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

.header-left img {
    width: 123px;
}

main {
    padding-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: 100px;
    gap: 16px;
    margin: 16px;
}

main div img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition-duration: 500ms;
    box-shadow: 0 0 4px black;
}

main div:first-child {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}

main div:nth-child(2) {
    grid-row: 1 / 6;
}

main div:nth-child(3) {
    grid-row: 1 / 6;
}

main div img:hover {
    scale: 1.03;
}