body {
    background: rgb(255, 255, 255);
    margin: 0;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100px;
    z-index: 100;

    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    background: linear-gradient(90deg, rgb(0, 51, 101), rgb(0, 51, 101), rgb(0, 42, 85));
}

.header-left {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

.header-left img {
    width: 123px;
}

.in-progress {
    padding-top: 100px;
    min-height: 80vh;

    display: grid;
    place-content: center;
    gap: 24px;

    text-align: center;
}

.text {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 600px;
    color: rgb(0, 51, 101);
    letter-spacing: 1px;
}

.dots {
    display: grid;
    grid-auto-flow: column;
    gap: 16px;
}

.circle {
    width: 80px;
    height: 80px;
    background: rgb(68, 95, 115);
    border-radius: 50%;
}

.circle:first-child {
    animation-name: loading;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-delay: 0;
}

.circle:nth-child(2) {
    animation-name: loading;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-delay: 1s;
}

.circle:last-child {
    animation-name: loading;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-delay: 2s;
}

@keyframes loading {
    from {
        opacity: .3;
    }

    to {
        opacity: 1;
    }
}

main {
    display: none;
}

/* main {
    padding-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: 100px;
    gap: 16px;
    margin: 16px;
}

main div img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition-duration: 500ms;
    box-shadow: 0 0 4px black;
}

main div:first-child {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}

main div:nth-child(2) {
    grid-row: 1 / 6;
}

main div:nth-child(3) {
    grid-row: 1 / 6;
}

main div img:hover {
    scale: 1.03;
} */